* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neue-haas-grotesk-display, sans-serif;
    color: #000000;
}


html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    /* background-color: rgb(0, 255, 68); */
    display: flex;
    align-items: flex-start;
    height: 12vh;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #ffffff;
    z-index: 10;
}

nav h1 {
    font-size: 1.6vw;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4 {
    font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}

.nav-part2 h5 {
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

nav button {
    background-color: #6b6b3e;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    border: none;
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
}

#nav-bottom {
    width: 79%;
    height: 0vh;
    position: absolute;
    /* background-color: red; */
    top: 100%;
    background-color: #ffffff;
    z-index: 9;
    border-bottom: 1px solid #000000;
}



#page1 {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("https://www.omgva.in/assets/s1%20(1).avif") center center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;   /* move content to left */
    padding-left: 8%;              /* premium spacing from left */
    color: #fff;
    overflow: hidden;
}



#page1 .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.2)
    );
}

/* LEFT SIDE HERO CONTENT */
.hero-content {
    position: relative;
    z-index: 2;
    max-width: 650px;
    text-align: left;   /* left align text */
    color: #fff;
}

/* Premium Title */
.hero-title {
    font-family: 'Playfair Display', serif;
    font-size: clamp(42px, 5vw, 80px);
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #f5e6c8, #ffd700, #f5e6c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 25px rgba(255, 215, 0, 0.35);
}

/* Subtitle */
.hero-subtitle {
    font-family: 'Playfair Display', serif;
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 400;
    margin-bottom: 25px;
    letter-spacing: 2px;
    opacity: 0.95;
    color:#fff;
}

/* Description */
.hero-description {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, 1.2vw, 18px);
    line-height: 1.9;
    font-weight: 300;
    letter-spacing: 0.5px;
    opacity: 0.85;
      color:#fff;
}



#page2 {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    border-top: 1px solid #333;
    justify-content: space-between;
}

#page2-left {
    height: 100%;
    width: 40%;
    /* background-color: #333; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}

#page2-left p {
    font-size: 0.8vw;
}

#page2-left h5 {
    width: 75%;
    font-weight: 400;
    font-size: 1.1vw;
}


#page2-right {
    height: 100%;
    width: 50%;
    /* background-color: #333; */
}

.right-elem {
    position: relative;
    /* background-color: red; */
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}

.right-elem h2 {
    font-size: 1.4vw;
    font-weight: 400;
}

.right-elem img {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    scale: 0;
}


#page3 {
    height: 100vh;
    width: 100%;

    position: relative;
    background-image: url();
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.page3-center {
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 1vw;
    flex-direction: column;
}


#page3 video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;

    transform: scale(1);   /* FIXED */
    opacity: 1;            /* FIXED */
    border-radius: 0;
    z-index: 1;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding-bottom: 13vh;
}

.section {
    width: 100%;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vh 10vw;
    padding-bottom: 0;
}

.sec-left {
    height: 100%;
    width: 25%;
    padding-top: 3vh;
    /* background-color: aqua; */
    border-top: 2px solid #000;

}

.sec-left h2 {
    font-size: 2.1vw;
    font-weight: 500;
    color: #000;
}

.sec-left p {
    color: #000;
    margin-top: 10vh;
    font-size: 1.2vw;
    /* width: 80%; */
}

.sec-right {
    height: 100%;
    width: 70%;
    background-color: blanchedalmond;
    position: relative;
}

.sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease 0.1s;
}

#page5 {
    min-height: 100vh;
    background-color: #ffffff;
    width: 100%;
    position: relative;
    padding: 5vh 10.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#page5 button {
    background-color: #0BA34E;
    padding: 0.9vw 2.5vw;
    font-weight: 600;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    position: sticky;
    top: 15%;
}

#page5-right {
    width: 70%;
}

#page5-right>p {
    font-size: 2.1vw;
}

#page5-right>p span {
    /* background-color: red; */
    width: 15vw;
    display: inline-block;
}

#page5-content {
    width: 100%;
    /* background-color: red; */
    margin-top: 5vh;
    padding: 5vh 0;
}

#page5-content h1 {
    font-size: 3vw;
    font-weight: 500;
}

#page5-content #flex {
    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#page5-content #flex h4 {
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 0.8vw;

}

.page5-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    /* padding: 2vh 0; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    padding-top: 3vh;
    padding-bottom: 9vh;
    overflow: hidden;
    border-top: 1px solid #333;
    position: relative;
}

.page5-elem p {
    width: 55%;
    font-size: 0.8vw;
    position: relative;
    z-index: 8;
}

.page5-elem h3 {
    font-size: 1.6vw;
    font-weight: 400;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
}

.page5-elem i {
    font-size: 1vw;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
}

.over {
    height: 100%;
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    /* display: none; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page5-elem:hover h3 {
    padding-left: 1vw;

}

.page5-elem:hover i {
    padding-right: 1vw;
}

.page5-elem:hover .over {
    transform: translateY(0);
    /* display: initial; */
    opacity: 1;
}

.page5-elem:hover {
    border-top: 2px solid #fff;
}



summary::marker {
    content: "";
}

.uiux {
    border-top: 1px solid #333;
    padding: 3vh 0;
}

.product {
    padding: 3vh 0;

    border-top: 1px solid #333;
}

#page6 {
    min-height: 100vh;
    width: 100%;
    /* background-color: #111; */
    background-color: #fff;
    padding: 10vh 10vw;
}

#page6>h1 {
    font-size: 5.5vw;
    color: #ffffff;
    /* background-color: red; */
    padding-left: 23vw;
    padding-right: 5vw;
    line-height: 5.8vw;
    padding-bottom: 10vh;
    border-bottom: 1px solid #dadada;
}

#page6-content {
    /* background-color: red; */
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vh 0;
}

#page6-content #right-6 {
    width: 70%;
}

#page6-content #right-6 p {
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 5vh;
    width: 80%;
}

#blue-btn {
    background-color: #4f5bff;
    width: 15vw;
    height: 3.5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blue-btn h4 {
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85vw;
    /* letter-spacing: 1px; */
}

#blue-btn h4 i {
    font-size: 1.1vw;
    font-weight: 100;
    margin-left: 0.5vw;
}

#page6-bottom {
    height: 44vh;
    width: 100%;
    /* background-color: red; */
    border-top: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background-color: rgb(48, 48, 48); */
    /* color: #000; */
}

#btm6-part1 {
    border-right: 1px solid #dadada;
    width: 30%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part2 {
    border-right: 1px solid #dadada;
    width: 28%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part3 {
    border-right: 1px solid #dadada;
    width: 15%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part4 {
    border-right: 1px solid #dadada;
    width: 15%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part5 {

    width: 15%;
    /* background-color: red; */
    height: 100%;
}

.btm6-parts {
    padding: 3vh 0.6vw;
}

.btm6-parts h5 {
    color: #ffffff;
    font-weight: 500;
    font-size: 0.9vw;
    margin-bottom: 4vh;
}

.btm6-parts h4 {
    background-color: #111;
    width: 75%;
    padding: 5px 10px;
    margin-bottom: 0.3vh;
    border-radius: 50px;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #fff;
    

}

.btm6-parts h4 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #333;
    padding: 0.5vw;
    border-radius: 50%;
    margin-right: 1vw;
}

#btm6-part2 h4:nth-child(2) {
    transform: translateX(0);
}

#btm6-part2 h4:nth-child(3) {
    transform: translateX(10%);
}

#btm6-part2 h4:nth-child(4) {
    transform: translateX(20%);
}

#btm6-part2 h4:nth-child(5) {
    transform: translateX(30%);
}

#btm6-part2 h4:nth-child(6) {
    transform: translateX(40%);
}

#btm6-part2 h4:nth-child(7) {
    transform: translateX(50%);
}


#page7 {
    height: 100vh;
    background-color: #ffffff;
}